*{ 
   margin: 0px; 
   padding: 0px; 
   box-sizing: border-box; 
   font-family: sans-serif; 
} 
body{  
    height: 100vh; 
    width: 100vw;
    background:linear-gradient( to right,rgb(64, 254, 64), rgb(2, 73, 81)); 

}  
.inputbox{ 
    position: relative;
} 
.inputbox i{ 
    position: absolute;  
    top:7px; 
    right:7px; 
    color: rgb(0, 0, 0);
}
.tb{  
    margin: 200px 550px;
    align-items: center; 
    padding: 25px 0px;  
    height: 400px;  
    width: 375px;
    display:flex; 
    flex-direction:column;  
    background: transparent;    
    border:0.5px solid; 
    border-radius: 25px; 
    border-color: antiquewhite;  
    justify-content: space-evenly;
} 
span{  
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    width: 275px; 
    font-size: larger;
} 
#display{ 
    width: 300px; 
    height: 30px;  
    color: black; 
    font-weight: bold; 
    font-size: large; 
    text-align: center;
} 
