*{ 
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box; 
    color: white;  
}  
body{ 
    background-color: #212121; 
    min-height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.container{    
    position: relative;
} 
.clock{ 
    background-color: rgba(0, 0, 0, 0.2);    
    border-radius: 50%;  
    border: 2px solid rgba(255, 255, 255, 0.3);  
    width: 300px; 
    height: 300px; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 9px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}   
.clock::before{ 
    content:""; 
    width:8px; 
    height:8px; 
    background-color: black; 
    border-radius: 50%;  
}   
.hand{ 
    position: absolute; 
    display: flex;  
    justify-content: center;
    align-items: flex-end;
}
.hand i{  
    position: absolute; 
    height: 100px; 
    width:4px; 
    background-color: var(--clr);
}
span{ 
    transform: rotate(calc(30deg * var(--i)));    
    position: absolute;
    inset: 5px; 
    text-align: center;
} 
.clock span b{    
    display: inline-block;
    transform: rotate(calc(-30deg*var(--i)));
}